@import variables

@import bootstrap
@import bootstrap/variables
@import font-awesome-sprockets
@import font-awesome
@import bootstrap-social

.fa-li
  top: 5px

.b-header
  @extend .navbar
  @extend .navbar-light
  @extend .bg-faded
  margin-bottom: $header-margin
.b-navigation
  @extend .container
.b-title
  @extend .navbar-brand
@import blocks/menu
@import blocks/contents
@import blocks/article
@import blocks/sidebar
.b-single
  @extend .col-md-12
.b-main
  @extend .col-xl-8
  @extend .col-lg-8
  @extend .col-md-8
  @extend .col-md-8

.b-options-list
  @extend .dl-horizontal
  dt
    @extend .col-sm-2
  dd
    @extend .col-sm-10

@import blocks/map
@import blocks/projects
@import blocks/github-actions
@import blocks/footer

.b-about
  @extend .b-single

@import blocks/cv
@import blocks/commas
@import blocks/brackets
@import blocks/keywords

@import blocks/experience
@import blocks/blog
@import blocks/sitemap

ul, ol
  //margin-left: auto
  ul, ol
    padding-left: 1.4em

.b-task-item
  list-style: none
  input
    margin-left: -1.3em
    margin-right: .2em

.b-search-form
  margin-top: $header-margin / 2

@import highlight

.b-moikrug
  border: 0 none
  margin: 0 3px 0 0
  width: 16px
  height: 16px
  vertical-align: middle
.b-moikrug__initial
  color: #c71717
