@import variables


ul, ol
  //margin-left: auto
  ul, ol
    padding-left: 1.4em

@import bootstrap
@import bootstrap/variables
@import font-awesome-sprockets
@import font-awesome
@import bootstrap-social
@import highlight

@import blocks/article
@import blocks/blog
@import blocks/brackets
@import blocks/commas
@import blocks/contents
@import blocks/cv
@import blocks/experience
@import blocks/footer
@import blocks/github-actions
@import blocks/keywords
@import blocks/map
@import blocks/menu
@import blocks/moikrug
@import blocks/projects
@import blocks/sidebar
@import blocks/sitemap
@import blocks/social

.fa-li
  top: 5px


.b-header
  @extend .navbar
  @extend .navbar-light
  @extend .bg-faded
  margin-bottom: $header-margin

.b-single
  @extend .col-md-12

.b-main
  @extend .col-xl-8
  @extend .col-lg-8
  @extend .col-md-8
  @extend .col-md-8

.b-about
  @extend .b-single

.b-navigation
  @extend .container
.b-navigation__toggler-wrapper
  @extend .hidden-sm-up
  @extend .pull-right
.b-navigation__toggler
  @extend .navbar-toggler
.b-navigation__menu
  @extend .collapse
  @extend .navbar-toggleable-xs

.b-title
  @extend .navbar-brand

.b-options-list
  @extend .dl-horizontal
  dt
    @extend .col-sm-2
  dd
    @extend .col-sm-10

.b-task-item
  list-style: none
  input
    margin-left: -1.3em
    margin-right: .2em

.b-search-form
  @extend .col-md-12
  margin: ($header-margin / 2) 0

.hidden
  display: none
  @extend .invisible
