<!DOCTYPE html>
<html>
  <head>
    <%= partial 'head' %>
  </head>

  <body>
    <%= partial 'header' %>

    <div class="page-content">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>

    <%= partial 'footer' %>
  </body>
</html>
