= wrap_layout :blog do
  article.post[itemscope itemtype="http://schema.org/BlogPosting"]
    header.post-header
      h1.post-title[itemprop="name headline"] = current_page.title
      p.post-meta
        time datetime=current_page.date.xmlschema itemprop="datePublished" = format_date(current_page.date, "%b %-d, %Y")
        - if current_page.data.author
          | •
          span[itemprop="author" itemscope itemtype="http://schema.org/Person"]: span[itemprop="name"] = current_page.data.author
    .post-content[itemprop="articleBody"] = yield
