#me.h-card[itemtype="http://schema.org/Person" itemscope]
  p
    ' Меня зовут
    span.p-name&name
      span.p-given-name&givenName
        | Алекс
        span.sr-only андр
      span.p-family-name&familyName
    | .
  markdown:
    В интернетах меня ещё иногда зовут ~~Rotuka~~ #{content_tag(:ins, content_tag(:span, link_to('alsemyonov', 'http://www.google.ru/search?q=alsemyonov', class: 'p-nickname', itemprop: 'alternateName', target: '_blank'), class: 'b-social b-social_url'))}.

    Мне сейчас #{((Time.now - Time.local(1988, 6, 3)).to_i / (365 * 24 * 60 * 60)).floor} лет, я живу в Санкт-Петербурге и работаю старшим инженером-программистом.

    Я предпочитаю общаться вживую. К сожалению, это возможно не всегда. Если ты хочешь пообщаться со мной, `%username%`, но предпочтёшь сделать это не лично, а в интернете, ты можешь связаться со мной, используя

    * <span class="b-social b-social_email">#{mail_to('alex@semyonov.us', '<i></i> alex@semyonov.us', subject: 'Алекс, хочу обсудить...', body: "Алекс, здравствуй!\n\nХочу связаться с тобой на тему...", class: 'u-email', itemprop: 'email')}</span>
    * или <span class="b-social b-social_xmpp">#{link_to('<i></i> rotuka@talkr.im', 'xmpp:rotuka@talkr.im')}</span>.

    Если, `%username%`, ты...

    * ...должен мне денег или просто ходешь поделиться ими со мной — переведи их мне #{link_to('на карту <i></i> Рокетбанка', 'https://rocketbank.ru/alsemyonov', class: 'b-social b-social_rocketbank')} или #{link_to('с помощью <i></i> PayPal', 'https://www.paypal.me/alsemyonov', class: 'b-social b-social_paypal')}.
    * ...предприниматель, который хочет получить экспертизу по реализации своих идей, либо ищет технического директора, системного архитектора, техлида или старшего инженера-программиста в свою команду, ознакомься с [моим резюме](/cv/).

    Если же тебе интересно посмотреть, на что ещё я трачу свою жизнь, найди ниже ссылки на мои страницы в разных
    социальных сетях.

    Пока, `%username%`!

    *[Rotuka]: уже довольно давно так не зовут
