---
title: Webmaster Tools for al.semyonov.us
published: 'false'
---
.b-single
  h1 = title(current_resource.title)

  markdown:
    *   Google
        *   [Search Console](https://www.google.com/webmasters/tools/dashboard?hl=ru&siteUrl=#{data.site.url})
        *   [Structured Data Testing Tool](https://developers.google.com/structured-data/testing-tool/)
    *   Яндекс
        *   [Вебмастер](https://webmaster.yandex.ru/site/?host=#{data.site.yandex.webmaster_id})
            * [robots.txt](https://webmaster.yandex.ru/site/robots.xml?host=#{data.site.yandex.webmaster_id})
            * [sitemap.xml](https://webmaster.yandex.ru/sitemaptest.xml?addr=#{data.site.url}/sitemap.xml)
            * [Права на управление](https://webmaster.yandex.ru/site/verification.xml?host=#{data.site.yandex.webmaster_id})
            * [Валидатор микроразметки](https://webmaster.yandex.ru/microtest.xml)
        *   [Метрика](https://metrika.yandex.ru/dashboard?id=#{data.site.yandex.metrika_id})
        *   [ПДД](https://pdd.yandex.ru/domain/#{data.site.host}/)
            *   [E-mail](https://pdd.yandex.ru/domain/#{data.site.host}/)
            *   [DNS](https://pdd.yandex.ru/domain_ns/#{data.site.host}/)
