li.b-article-item.p-entry.h-entry
  time.dt-published.b-article-item__time datetime=article.date.xmlschema title=l(article.date, format: :long) = l article.date.to_date, format: :short
  = link_to article.title, article, class: 'b-article-item__title p-name u-url'
  /= link_to('comments', article.url + '#disqus_thread')
