---
pageable: true
layout: blog
---

- case page_type
- when 'day'
  - interval = l Date.new(year, month, day), format: :long
- when 'month'
  - interval = l Date.new(year, month, 1), format: :month
- when 'year'
  - interval = l Date.new(year, 1, 1), format: :year

h1 = t('calendar.title', interval: interval)

= partial 'blog/articles', locals: {articles: page_articles}
