---
layout: blog
pageable: true
per_page: 50
---

h1 = title(t('blog.category.title', category: category))

= partial 'blog/articles', locals: { articles: page_articles, collection_partial: 'blog/articles_yearly' }
