<% if true || environment.development? %>
  <div class="b-contents__wrapper">
    <%= frontmatter(current_resource, true) %>
    <%=
      debug(current_resource.locals.slice('year', 'month', 'day').merge(
          label: current_resource.navigation.label,
          title: current_resource.title,
          resource_type: current_resource.resource_type,
          navigation_data_lookup_path: current_resource.navigation.data_lookup_path,
          menu: current_resource.menu?,
          navigation_data: current_resource.navigation.data,
      ))
    %>
    <%=
      debug current_resource.locals.slice(*%w(page_type year paginate page_numbers page_number num_pages per_page page_start page_end))
    %>
  </div>
<% end %>
