---
title: Инструменты
layout: page
published: false
---

markdown:
  В своей работе я регулярно использую различные инструменты, сильно облегчающие мою жизнь.
  Я попробую кратко рассказать о своём любимом наборе

  ## Работа с текстом

  Практически каждый день я пишу различные тексты. Я стараюсь относиться к написанию и оформлению текста очень внимательно. В этом мне помогают несколько «рабочих лошадок», с которыми этот процесс превращается из очень сложного — во вполне приемлемый.

  ### Markdown

  Маркдаун — человекочитаемый способ разметки, придуманный Джоном Грубером, чтобы просто оформлять тексты, используя понятную, читаемую разметку как в процессе написания и чтения исходного текста, так и имея возможность экспортировать это в HTML.

  ### Типограф

  ### Главред

  *[HTML]: HyperText Markup Language
