@import blocks/social
@import blocks/brackets

//.b-cv
.b-cv__section
  margin-bottom: 4rem
  h3
    font-weight: $lead-font-weight
.b-cv__header
  @extend .col-md-12
  @extend .text-md-center
  margin-bottom: 5rem
  abbr
    border-bottom: 0
.b-cv__image
  @extend .img-circle

.b-languages-list
  @extend .list-unstyled

.b-hobbies-list
  @extend .fa-ul
//.b-hobby
@each $color in red, orange, yellow, green, blue, purple
  .b-hobby_#{"" + $color}
    color: $color
.b-hobby__mark
  @extend .fa
  @extend .fa-li
  @extend .fa-heart
  color: $alert-danger-text
  .b-commas &
    display: none

.b-skills-list
  @extend .fa-ul
  ul
    ul
      display: inline
      margin-left: 0
      @extend .b-brackets
      .b-skill__mark
        display: none
        visibility: none
.b-skill__mark
  @extend .fa
  @extend .fa-plus-square
  @extend .fa-li
.b-experiences-list
  @extend .list-unstyled
.b-contacts-list
  @extend .fa-ul
  .b-social
    i
      @extend .fa-li
