.b-experience
  margin-bottom: 1.5rem
.b-experience__dates
  @extend .text-muted
  font-weight: lighter
.b-experience__company
  i
    @extend .fa
    @extend .fa-building-o
    margin-right: .1em
.b-experience__list_skills
  .b-experience__list-title, ul, li
    display: inline
    margin: 0
    padding: 0
  ul
    @extend .b-commas
.b-experience__list
  margin-bottom: 1em
.b-experience__list-title
  @extend h5
  @extend .text-muted
  font-weight: lighter
  &:after
    content: ': '
.b-experience__job-title
  font-weight: normal
.b-experience__at
  @extend .text-muted
  font-weight: normal
